/* app css stylesheet */

.overflowable {
  height: 140px;
  overflow-y: auto;
  border: 1px solid #000;
}

.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 250px;
}

.clr {
  clear: both;
}